:root {
    --border-color: silver;
}

.LXUI-DataGrid {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.LXUI-DataGrid-Row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.LXUI-DataGrid-Cell {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.LXUI-DataGrid-Cell button{
    border-radius: 0;
    border: none;
}

.LXUI-DataGrid-Row:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

.LXUI-DataGrid-Cell:not(:last-child) {
    border-right: 1px solid var(--border-color);
}